Repository hancom-io/hanzari, pull requests merged in 2020-11, with the labels that each got.

#411 rename method name (loadImageFileCanvas -> loadImageUrl, getOriginColor)
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#414 사원을 다시 매핑하는 경우 다른 사원의 text로 변경하기
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#415 #382 - 시작과 동시에 현재층 자리 불러오고 성공시에 다른층 자리들 불러오기
  HanzariProject/frontend/src/components/AttachCanvas.vue
  HanzariProject/frontend/src/views/HyoriTest.vue
Labels: frontend

#422 이미지 파일 이름에 날짜에 대한 정보를 추가하기 위한 TODO리스트 및 GetMapping시에 DB에 레코드 정보가 없는 경…
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
Labels: backend

#423 #417 - 우측 하단에 부서 색 표시
  HanzariProject/frontend/src/components/EachFloorDataTable.vue
Labels: frontend

#425 #424 - 최초 로딩시 처음 층에 자리가 없을 때 currentFloorId 가져오지 못하는 error 해결
  HanzariProject/frontend/src/components/AttachCanvas.vue
  HanzariProject/frontend/src/components/EachFloorDataTable.vue
  HanzariProject/frontend/src/views/HyoriTest.vue
Labels: frontend

#429 #394 관련 테스트 수행 성공
  HanzariProject/backend/build.gradle
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/SeatController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/dto/BuildingDto.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/dto/EmployeeDto.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/dto/FloorDto.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/dto/SeatDto.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Building.java
  HanzariProject/backend/src/main/resources/log4j2.xml
Labels: backend

#430 화면에 원하는 위치에 공석 자동 생성하기
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#436 #426 - 자리마다 seatName 부여 및 변경가능 (nullable/changeable)
  HanzariProject/frontend/src/components/AddFloorDialog.vue
  HanzariProject/frontend/src/components/AttachCanvas.vue
  HanzariProject/frontend/src/components/EachFloorDataTable.vue
  HanzariProject/frontend/src/components/InputSeatNameDialog.vue
  HanzariProject/frontend/src/views/HyoriTest.vue
Labels: frontend

#438 #394 Logger 및 log 메세지 명세
  documents/현호/Logger 및 Log 메세지 명세.md
  documents/현호/로깅(Logging).md
Labels: backend, 자료조사

#439 #437 - 좌석 하이라이트시 더 잘보이게 opacity, stroke 추가
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#442 #418 #420 - Seat 및 SeatDto 수정과 그에 따른 SeatController.save() 수정
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/SeatController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/dto/SeatDto.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Seat.java
Labels: backend

#443 seat_name load save 성공
  HanzariProject/frontend/src/components/AttachCanvas.vue
  HanzariProject/frontend/src/views/HyoriTest.vue
Labels: frontend

#446 #445 - 이미 사원이 매핑된 자리에 다른 사원으로 변경할 때 alert 창 cancel을 눌러도 변경되는 버그 해결
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: bug, frontend

#447 주석 제거
  HanzariProject/frontend/src/components/AllFloorsDataTable.vue
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#449 #448 - loadOtherFloorSeat 할때 모두 첫번째 자리의 seatname으로 로딩되는 버그 수정
  HanzariProject/frontend/src/components/AttachCanvas.vue
  HanzariProject/frontend/src/views/HyoriTest.vue
Labels: bug, frontend

#451 주석 정리
  HanzariProject/backend/src/main/resources/application.properties
  HanzariProject/backend/src/main/resources/log4j2.xml
Labels: backend

#453 볼륨 공유에 관련된 문서 추가
  documents/동민/볼륨 공유.txt
Labels: backend

#457 좌석 키보드 키로 상화좌우 이동하기(+좌석 modify를 true로 설정함)
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#458 공석 만들기위한 switch 작동시키기
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#459 #198 - 슬라이드 바로 바꾸고 싶을때마다 좌석 크기를 변경 가능하게 구현
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#463 #200 - contextMenu 만들고 기능 부여하기
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#462 한글 설정이 완료된 이미지 생성을 위한 도커파일(후에 수정 필요)과 공유 볼륨 설정이 완료된 이미지 생성을 위한 도커파일 추가
  documents/동민/dockerfiles/database/Dockerfile
  documents/동민/dockerfiles/volume share/Dockerfile
Labels: backend

#468 자리 키보드 키로 delete 하기
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#469 #464 Employee entity 관련 수정 완료
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/EmployeeController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/SeatController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Employee.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/EmployeeAdditionalInfo.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/repository/EmployeeAdditionalInfoRepository.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/EmployeeAdditionalInfoService.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/EmployeeAdditionalInfoServiceImpl.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/EmployeeServiceImpl.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/ShapeServiceImpl.java
  HanzariProject/backend/src/main/resources/log4j2.xml
Labels: backend

#470 #467 - 좌석 복제 성공 (컨텍스트 메뉴 내부)
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#475 #472 - 키보드로 좌석 복제 가능
  HanzariProject/frontend/src/components/AllFloorsDataTable.vue
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#477 FloorPlan 모델 변경에 따른 각각의 Repository, Service, Controller 클래스 필드 및 메소드 변경
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Floor.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/FloorPlan.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/repository/FloorPlanRepository.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorPlanService.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorPlanServiceImpl.java
Labels: backend

#479 manageKeyboard 람다식으로 변경
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#480 #465 Building에 해당하는 Floors 삭제하기 기능
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/TestController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/repository/FloorRepository.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorService.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorServiceImpl.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/ShapeServiceImpl.java
Labels: backend, bug

#484 주석 지우기
  HanzariProject/frontend/src/views/HyoriTest.vue
Labels: bug, frontend

#478 #476 - make toolTip For one seat's information in AttachCanvas.vue(only show or hide)
  HanzariProject/frontend/src/components/AttachCanvas.vue
  HanzariProject/frontend/src/components/ToolTip.vue
Labels: frontend

#485 그룹핑 삭제 버그 해결
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: bug, frontend

#487 #486 - 키보드 복사 붙여넣기 버그 해결
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#488 버그 처리하기 - 디비로부터 불러온 자리가 아닌 화면에서 생성한 자리를 삭제할시에 삭제가 제대로 되지않은 것을 오류를 해결함…
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#490 이미지 서버 url 변경과 deletegetEachfloorSeatList 함수 제거
  HanzariProject/frontend/src/components/AttachCanvas.vue
  HanzariProject/frontend/src/views/HyoriTest.vue
Labels: bug, frontend

#491 클린코드 => 메소드명 변경(myonefloorseatlist -> eachfloorseatlist)과 콘솔 주석 처리
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#492 #471 - 줌 비율에 따라서 좌석에 텍스트 다르게 보이게 하기
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#496 이미지 파일 저장 방식 변경에 따른 연관된 클래스들 코드 수정 및 테스트용 버킷 생성
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/FloorPlan.java
  documents/동민/도커 MinIO 명령어.txt
Labels: backend

#495 컨텍스트 메뉴 크기와 좌표 변경
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#499 #498 - seatName 추가되면 트래커 모양 이상해지는 버그 수정
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: bug, frontend

#501 #497 - hanzari-spare 버킷 생성 및 FloorPlanController 클래스의 코드들 변경(클라이언트, MinIO 서버와 잘 연결되었는지 추가 작업 필요)
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
  documents/동민/도커 MinIO 명령어.txt
Labels: backend

#502 #483 REST API 디자인 규칙 정리
  documents/현호/REST API 디자인 규칙.md
Labels: backend, 자료조사

#504 #503 자리배치도 프린트하기
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#507 #505 와이어프레임 적용할 새 프로젝트 만들기
  HanzariProject/frontendWireframe/,
  HanzariProject/frontendWireframe/.babelrc
  HanzariProject/frontendWireframe/.editorconfig
  HanzariProject/frontendWireframe/.eslintignore
  HanzariProject/frontendWireframe/.eslintrc.js
  HanzariProject/frontendWireframe/.gitignore
  HanzariProject/frontendWireframe/.postcssrc.js
  HanzariProject/frontendWireframe/.vs/ProjectSettings.json
  HanzariProject/frontendWireframe/.vs/VSWorkspaceState.json
  HanzariProject/frontendWireframe/.vs/slnx.sqlite
  HanzariProject/frontendWireframe/README.md
  HanzariProject/frontendWireframe/config/dev.env.js
  HanzariProject/frontendWireframe/config/index.js
  HanzariProject/frontendWireframe/config/prod.env.js
  HanzariProject/frontendWireframe/index.html
  HanzariProject/frontendWireframe/package-lock.json
  HanzariProject/frontendWireframe/package.json
  HanzariProject/frontendWireframe/src/App.vue
  HanzariProject/frontendWireframe/src/assets/hancomLogo.png
  HanzariProject/frontendWireframe/src/assets/logo.png
  HanzariProject/frontendWireframe/src/assets/menIcon.jpg
  HanzariProject/frontendWireframe/src/main.js
  HanzariProject/frontendWireframe/src/router/index.js
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
  HanzariProject/frontendWireframe/static/.gitkeep
Labels: frontend

#509 Yunji98
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/Taps.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#513 #512 컴포넌트 담을 탭 틀 만들기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
  HanzariProject/frontendWireframe/src/components/Taps.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#511 #506 FloorPlan 모델에 floorId 필드 추가 및 그에따른 FloorPlanController builder 수정
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/FloorPlan.java
Labels: backend

#515 #476 - showToolTip Leftside of One Seat in AttachCanvas.vue
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#518 #516 좌석 관리 컴포넌트 생성 및 구성
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
  HanzariProject/frontendWireframe/src/components/MappingEmployee.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
Labels: frontend

#517 #474 관련 각 Controller별 save() 리턴값 변경과 그에 따른 각 Service.findByIdNullable() 메소드 추가
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/BuildingController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/EmployeeController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/SeatController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/TestController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Building.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Employee.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/EmployeeAdditionalInfo.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Figure.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Floor.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Seat.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Shape.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/BuildingService.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/BuildingServiceImpl.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/EmployeeService.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/EmployeeServiceImpl.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorService.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorServiceImpl.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/SeatService.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/SeatServiceImpl.java
  documents/현호/데이터스키마 .hwp
  documents/현호/데이터스키마.cell
Labels: backend

#521 #476 - show Employee Information with ToolTip when mouse:over on Rectangle(s…
  HanzariProject/frontend/src/components/AttachCanvas.vue
Labels: frontend

#523 #520 자리 정보 볼 수 있고 변경 할 수 있는 컴포넌트 만들기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSeatInfo.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
  HanzariProject/frontendWireframe/src/components/MappingOtherEmployee.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#524 #522 Swagger 적용
  HanzariProject/backend/build.gradle
  HanzariProject/backend/src/main/java/com/hancom/hanzari/HanzariProjectApplication.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/configuration/SwaggerConfiguration.java
Labels: backend

#525 #522 Swagger관련 apiInfo() 수정
  HanzariProject/backend/src/main/java/com/hancom/hanzari/configuration/SwaggerConfiguration.java
Labels: backend, hotfix

#527 #526 ui 설계 - 층
  HanzariProject/frontendWireframe/package-lock.json
  HanzariProject/frontendWireframe/package.json
  HanzariProject/frontendWireframe/src/components/ManageAddFloors.vue
  HanzariProject/frontendWireframe/src/components/MangeFloors.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
  HanzariProject/frontendWireframe/src/main.js
Labels: frontend

#530 attach FloorCanvas in FrontendWireframe
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#531 백엔드 11월 2째주부터의 TODO 리스트 작성
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
  documents/동민/백엔드 TODO 리스트.show
Labels: backend, 자료조사

#532 floor axios 데이터 불러오기
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
Labels: frontend

#533 #452 engine logger를 통한 controller, service계층 info log찍기
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/BuildingController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/EmployeeController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/SeatController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/exception/ResourceNotFoundException.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/BuildingServiceImpl.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/EmployeeServiceImpl.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorServiceImpl.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/SeatServiceImpl.java
Labels: backend

#537 #536 - 사원 정보들 가져옴
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
  HanzariProject/frontendWireframe/src/components/MappingEmployee.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#538 층 => 동적으로 버튼(컴포넌트) 추가하기 (데이터 연결안됨)
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
Labels: frontend

#541 #540 - upload Image in FloorCanvas in FrontendWireframe in AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
Labels: frontend

#542 floors axios 수정
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#544 #543 - switch 여부와 좌석 사이즈 이벤트 버스로 보내기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSeatInfo.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
  HanzariProject/frontendWireframe/src/components/MappingEmployee.vue
  HanzariProject/frontendWireframe/src/components/MappingOtherEmployee.vue
  HanzariProject/frontendWireframe/src/components/SeatFloorMovement.vue
Labels: frontend

#546 #545 - addVacantSeat works well with frontendWireframe and click rectangle t…
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
Labels: frontend

#548 #547 - 좌석에 사원 매핑하기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
Labels: frontend

#550 floor axios get data
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
Labels: frontend

#551 #549 - 컨텍스트 메뉴 추가
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
Labels: frontend

#552 #545 - some changes for good interaction in AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSeatInfo.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#555 #554 - 컨텍스트 메뉴 구성요소 변경 및 자리 비우기 기능 다른 컴포넌트에 부여
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSeatInfo.vue
Labels: frontend

#559 UI deleteall,print,save 기능 붙이기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#561 #558 - seatname 기능 추가
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSeatInfo.vue
Labels: frontend

#562 #556 제일 최신 층을 먼저 로딩하기 위해 floor_order가 최대값인 floor를 GET하는 메소드 작성
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/repository/FloorRepository.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorService.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorServiceImpl.java
Labels: backend

#566 #514 latest 필드(컬럼) 추가에 따른 각각의 model, repository, service 클래스에서 floorId와 latest를 참조하여 floorPlan 레코드를 반활할 수 있는 메소드 작성
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Floor.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/FloorPlan.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/repository/FloorPlanRepository.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorPlanService.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorPlanServiceImpl.java
Labels: backend

#568 axio get과 post 적용하기(floor/image/seat )
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#569 #557 - 해당 좌석에 대한 정보(속성)창에 해당 좌석의 사원이름, 사원 부서정보를 넘기기 in ManageSeatsInfo.vue
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSeatInfo.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#570 #553 - 층 버튼으로 변경 (로드해오는 것 확인)
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
Labels: frontend

#573 #571 - 층 버튼 추가 및 삭제 편집
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
Labels: frontend

#575 #574 - load floor's image in AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
Labels: frontend

#577 attachcanvas.vue 수정하기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#578 데이터 없을 때 층 floor_name 못 찾는 버그 수정
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
Labels: frontend

#572 #567 FloorPlanController에서 floorId와 latest값에 따라 해당하는 floorPlan 레코드값 읽어오는 로직 추가
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
Labels: Merge Needed, backend

#582 #579 - 층 관련 버그 해결(삭제 및 저장)
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#585 #584 - selectmenu to floor Edit button clicked in ManageSeatInfo.vue
  HanzariProject/frontendWireframe/package-lock.json
  HanzariProject/frontendWireframe/package.json
  HanzariProject/frontendWireframe/src/components/ManageSeatInfo.vue
  HanzariProject/frontendWireframe/src/components/SelectMenu.vue
  HanzariProject/frontendWireframe/src/main.js
Labels: frontend

#589 ManageSearch 컴포넌트 틀 만들기
  HanzariProject/frontendWireframe/src/components/ManageAddFloors.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/ManageSearch.vue
  HanzariProject/frontendWireframe/src/components/ManageSeatInfo.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
Labels: frontend

#587 makegroupinfo 함수 내에 그룹 인터렉션 추가
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
Labels: frontend

#591 #588 - 로드하자 마다 캔버스에 층에 관한 자리 로딩 및 층 이름 수정기능 버그 고침
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
Labels: frontend

#593 #574 - get allFloorList in ManageSeats and solve error while upload image at…
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
Labels: frontend

#595 #574 - some changes for image load for every floor in MangeFloors.vue and Ma…
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
Labels: frontend

#599 #592 - select된 층 버튼의 테두리 가시적 효과 추가 + 층 데이터 없을 시 로드하면 에러나는 것 수정
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
Labels: frontend

#598 modify code for UI
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSeatInfo.vue
  HanzariProject/frontendWireframe/src/components/SeatFloorMovement.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#601 #600 - 층 모두 삭제시 캔버스에 모든 이미지 / 좌석 없애기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
Labels: frontend

#602 층에 스크롤 추가
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
Labels: frontend

#605 #604 - seatName을 입력하고 버튼을 누르면 캔버스의 도형들 개수만큼 seatName + number가 자동으로 생성되어 화면에…
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
Labels: frontend

#608 #607 - 층 정보 없을 시 이미지 생성되지 않은 에러 해결
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
Labels: frontend

#610 #609 이미지 생성 컴포넌트 위치 변경
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
Labels: frontend

#611 #580 와이어프레임 ManageSearch 컴포넌트 만들기
  HanzariProject/frontendWireframe/src/components/ManageSearch.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
Labels: frontend

#616 ManagSearch 매핑된 사원 하이라이트와 층간 이동
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/ManageSearch.vue
Labels: frontend

#618 #617 - 하나의 좌석에 mouseover가 됫을때 사원의 정보도 띄우게 하기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
Labels: frontend

#620 ManageSearch show 버튼 없애기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/ManageSearch.vue
Labels: frontend

#615 #581 이미지 파일 정보가 데이터베이스에 저장 안되던 문제 해결(이전 버전의 프론트엔드 코드로 테스트를 하여서 에러가 났었음.)
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Floor.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/FloorPlan.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/repository/FloorPlanRepository.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorPlanService.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorPlanServiceImpl.java
Labels: Merge Needed, backend

#623 #621 - 이미지 로드시 이미지가 하나도 없음에도 계속 불리는 이상한 버그 해결하기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#625 #622 Seat entity 클래스의 Boolean type 멤버가있는데 @NotNull 어노테이션과 상충되는 문제점 해결
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Seat.java
  HanzariProject/backend/src/main/resources/application.properties
  documents/현호/테스트.md
Labels: Merge Needed, backend

#629 #628 WireFrame에서 ManageSearch에서 allEmployeeSeat이 null일때 예외 처리하기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/ManageSearch.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#627 #624 FloorPlanController의 getImageFile 메소드의 기존 두개로 나뉘어져있던 try catch문 …
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Floor.java
Labels: Merge Needed, backend

#633 #614 - 층 버튼에 마우스 오버시 툴팁으로 현재층의 현황표 띄우기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
Labels: frontend

#634 #621 - ManageFloors에서 Background image setting 버튼을누를시에 allImageMap이 null로 시작…
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#636 #528 - 탭을 넣기 위한 left menu 생성하기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#632 #630 putImageFile 메소드 수정(버킷명 변경, 이미지 파일 이름 형식 변경, 필요없는 주석 삭제)
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
Labels: Merge Needed, backend

#639 #637 - canvas 외부로 좌석 이동 불가하게 block + 외부로 scailing을 할 때의 경우도 block
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
Labels: frontend

#642 #641 synchronized 키워드를 각 메소드에 적어줌으로써 데이터베이스와 MinIO 서버에 각각 저장되는 숫자가 동일…
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
Labels: Merge Needed, backend, bug

#635 #631 관련 SpringBatch를 이용한 employees json 데이터를 employee, employee_additional_info 테이블에 넣는 배치프로세스 작성 중
  HanzariProject/backend/build.gradle
  HanzariProject/backend/src/main/java/com/hancom/hanzari/HanzariProjectApplication.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/configuration/TestEmployeeUpdateJobConfiguration.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/vo/EmployeeVo.java
  HanzariProject/backend/src/main/resources/testdata/test-employee-data.json
Labels: Merge Needed, backend

#643 #640 - 맨 앞 층 삭제시 floor_id 찾지 않는 오류 해결
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#645 #644 사용하지 않는 import문 삭제
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/Floor.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/model/FloorPlan.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/repository/FloorPlanRepository.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorPlanServiceImpl.java
Labels: Merge Needed, backend

#647 #646 FloorPlan의 latest 필드를 boolean타입으로 변경해주어도 데이터베이스와 잘 연동이 되며 이미지를 저장하는데도 문제가 없는 것을 확인함
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/FloorPlanService.java
Labels: Review Needed, backend

#648 #203 - 웹 페이지의 크기에 따른 반응형 웹 만들기 ( 좌측 drawer 사용)
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSearch.vue
  HanzariProject/frontendWireframe/src/components/ManageSeatInfo.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#649 #621 - 화면에서 이미지 추가/수정 된 층에 대한 이미지만 이미지서버로 저장되게 하기 in AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
Labels: frontend

#652 #651 - v-app-bar app 관련 에러 수정
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#661 캔버스 프린트 오류 해결
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
Labels: frontend

#660 #657 - seatName 부여할때 도형에 붙게되는 Text사이즈 도형 크기에 맞게 하기 in AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
Labels: frontend

#664 탭 메뉴 적절한 아이콘 변경하기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#665 #653 - 사원매핑하는 순간 Search 탭화면에도 탭 전환시 좌석정보가 바로 보이게하기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSearch.vue
Labels: frontend

#667 #662 SpringBatch를 사용하기 위한 기본세팅 완료
  HanzariProject/backend/build.gradle
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
Labels: Merge Needed, backend

#669 UI 아이콘 변경하기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/ManageSearch.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
  HanzariProject/frontendWireframe/src/components/MappingEmployee.vue
Labels: frontend

#672 #670 - 좌석 복수개 셀렉션하여 이동시 modify 필드 true되지않아 저장되지 않는 에러 수정
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
Labels: frontend

#673 #671 - 층간이동 개념 추가하기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
Labels: frontend

#675 와이어프레임에서 한글로 변경
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#677 #676 - 상황에 따라 drawer icon 변경하기
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#678 한글로 언어 바꾸기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSearch.vue
  HanzariProject/frontendWireframe/src/components/MappingEmployee.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
Labels: frontend

#681 icon 수정 및 크기 확대하기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/ManageSearch.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
  HanzariProject/frontendWireframe/src/components/MappingEmployee.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
Labels: frontend

#683 #679 FloorPlanController 코드 수정
  HanzariProject/backend/src/main/java/com/hancom/hanzari/configuration/TestEmployeeUpdateJobConfiguration.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
Labels: Refactoring, Review Needed, backend

#684 #680 - 논리에 안맞는 변수명 및 함수명 수정
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#682 icon 버튼 크기 변경
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
Labels: Merge Needed, frontend

#686 #685 - 공석 생성시 입력한 좌석번호 Text로 좌석번호를 Text1,2,3,..로 자동으로 생성되게 하기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
Labels: Merge Needed, frontend

#687 ctrl+V 에 관한 pasteSelectedSeat()에서 캔번스에 선택된 도형이 없는 경우를추가하여 오류 해결하기
  HanzariProject/frontendWireframe/src/components/AttachCanvas.vue
Labels: Merge Needed, frontend

#689 #688 AttachCanvas.vue -> AssignSeats.vue로 이름 변경
  HanzariProject/frontendWireframe/src/components/AssignSeats.vue
Labels: frontend

#694 #693 - Upload UI Wireframe PDF file
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
  documents/UI Wireframe/11.06 한자리 와이어프레임-(1).pdf
  documents/UI Wireframe/11.16 한자리 와이어프레임-(2).pdf
Labels: UI, frontend

#696 선택된 도형이 없이 사원을 매핑하려고 할때 나는 오류 해결하기
  HanzariProject/frontendWireframe/src/components/AssignSeats.vue
Labels: frontend

#698 좌석 복수개 셀렉션하여 이동시 modify 필드 true되지않아 저장되지 않는 에러 수정
  HanzariProject/frontendWireframe/src/components/AssignSeats.vue
Labels: frontend

#695 change axios image port number
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#702 최초 시작시 층이 없으면 load 못하는 에러 해결하기 (데이터 값에 따라 컴포넌트를 동적으로 설정함)
  HanzariProject/frontendWireframe/src/components/AssignSeats.vue
  HanzariProject/frontendWireframe/src/components/ManageFloors.vue
  HanzariProject/frontendWireframe/src/components/ManageSearch.vue
  HanzariProject/frontendWireframe/src/components/Tabs.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: bug, frontend

#703 #701 - seatName을 입력받는 형식이 아니라 "층이름-일련번호"로 공석이 생성될때 자동으로 좌석번호가 부여되게 하기
  HanzariProject/frontendWireframe/src/components/AssignSeats.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
Labels: frontend

#700 #699 버킷명 hanzari로 변경
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/FloorPlanController.java
Labels: Merge Needed, backend

#704 좌석에 mouseout 하면 툴팁 사라지게 하기
  HanzariProject/frontendWireframe/src/components/AssignSeats.vue
Labels: frontend

#706 #690 - 공석 크기 지정 버튼으로 변경
  HanzariProject/frontendWireframe/src/components/AssignSeats.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
  HanzariProject/frontendWireframe/src/components/SeatSizeSettingDialog.vue
Labels: frontend

#709 #693 - 사원 매핑할때 아무 도형 클릭 안했을시에 뜨는 오류 해결하기
  HanzariProject/frontendWireframe/src/components/AssignSeats.vue
  HanzariProject/frontendWireframe/src/components/ManageSeatInfo.vue
  HanzariProject/frontendWireframe/src/components/SelectMenu.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend

#707 #510 CSV 파일을 이용하여 seat에 employee 배정하는 SeatService.updateByFile() 구현
  HanzariProject/backend/build.gradle
  HanzariProject/backend/src/main/java/com/hancom/hanzari/controllers/SeatController.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/repository/SeatRepository.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/SeatService.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/service/SeatServiceImpl.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/util/CSVHelper.java
  HanzariProject/backend/src/main/java/com/hancom/hanzari/vo/PlacementVo.java
Labels: Merge Needed, backend

#710 #708 - 좌석 크기 세부 설정에서 크기 지정 가능하게 하기
  HanzariProject/frontendWireframe/src/components/AssignSeats.vue
  HanzariProject/frontendWireframe/src/components/ManageSeats.vue
  HanzariProject/frontendWireframe/src/components/SeatSizeSettingDialog.vue
Labels: frontend

#712 #711 - add some methods for save CSV file
  HanzariProject/frontendWireframe/src/components/AssignSeats.vue
  HanzariProject/frontendWireframe/src/views/Hanzari.vue
Labels: frontend
